<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %} Mi sitio {% endblock %} </title>
</head>
<body>
    <header> 
        <h1> Mi aplicacion </h1>
        <nav>
            <ul>
                <a href="{{ url_for('index') }}" class="{{ 'active' if current_page == 'index' else '' }}">Inicio</a>
                <a href="{{ url_for('about') }}">Acerca de</a>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p> 2025 Mi empresa </p>
    </footer>

</body>
</html>